/* /styles/global.css */

html, body {
  margin: 0; /* Assicurarsi che non ci siano margini predefiniti */
  padding: 0;
  width: 100%;
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Semibold';
  src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans ExtraBold';
  src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SuperClarendon Regular';
  src: url('/fonts/SuperClarendon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuperClarendon Light';
  src: url('/fonts/superclarendon-lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: 'SuperClarendon Light', sans-serif;
  color: #1d0f67;
  font-size: 2.875rem;
  margin: 0;
}

h2 {
  font-family: 'OpenSans Bold', sans-serif;
  color: #1d0f67;
  font-size: 40px;
}

header {
  height: 128px;
  width: 100%;
  background-color: #D3D600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.header-logos {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.header-logos img {
  height: 4.6875rem;
  margin-right: 2rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  margin-right: 5%;
}

.hamburger-menu div {
  width: 1.75rem;
  height: 0.375rem;
  background-color: #212457;
}

.nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: white;
  overflow-x: hidden;
  transition: width 0.5s ease;
  z-index: 1000;
}

.nav-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.nav-overlay-content a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #1e1068;
  display: block;
  transition: color 0.3s ease;
}

.nav-overlay-content a:hover {
  color: #d3d600;
}

.closebtn {
  position: absolute;
  top: 1.25rem;
  right: 2.8125rem;
  font-size: 2.25rem;
  cursor: pointer;
}

.open-nav {
  width: 15.625rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans Regular', sans-serif;
  background-color: #f9f9f9;
}

.container {
  margin: 0 auto;
  padding: 1.25rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  max-width: 100%;
}

.container-title {
  margin-bottom: 1.5rem;
}

.container-colonne {
  margin: 0 auto;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #F6F6F6;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.container-tendina {
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 360 px;
  flex: 1;
  margin-right: 4.5rem;
}

.container-svolgimento {
  flex: 2;
}

.container-feedback {
  margin-top: 80px;
  background-color: #FFFFFF;
  padding-bottom: 30px;
}

.container-form {
  padding: 7px 50px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  border-radius: 0 0 12px 12px;
}

.container-form label {
  font-family: "SuperClarendon Light";
  font-size: 12px;
  color: #1d0f67;
  flex: 1 1 calc(50% - 16px);
  margin-bottom: 10px;
}

.container-form input, select {
  font-family: "SuperClarendon Light";
  font-size: 12px;
  border-radius: 5px;
  background: #EDEDED;
  color: #1d0f67;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}

.container-form button {
  background-color: #BD1622;
  color: white;
  text-transform: uppercase;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
  font-family: "OpenSans Bold";
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
}

.stars {
  display: flex;
  gap: 8px;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

input[type="radio"] {
  display: none;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  padding: 0.625rem 0;
}

.accordion-svolgimento {
  border: solid transparent;
  background-color: white;
  padding: 0 0 0 16px;
  margin-bottom: 0.5rem;
}

.accordion-title-left {
  font-family: 'OpenSans Semibold', sans-serif;
  text-transform: uppercase;
  color: #1d0f67;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.accordion-title-svolgimento {
  font-family: 'OpenSans Regular', sans-serif;
  color: #1d0f67;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  height: 48px;
}

.arrow-duration {
  display: flex;
  align-items: center;
}

.accordion-content {
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #333;
}

.arrow {
  font-size: 1.3125rem;
  color: #aaa;
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
}

.arrow.open {
  transform: rotate(180deg);
}

.arrow.closed {
  transform: rotate(0deg);
}

.accordion-item.active .accordion-title {
  color: #000;
}

.accordion-item.active .arrow {
  color: #000;
}

.title {
  margin-bottom: 1.25rem;
  text-align: left;
}

.form-title {
  background: #1b1464;
  color: white;
  padding: 20px;
  border-radius: 12px 12px 0 0;
  font-family: 'Open Sans Bold', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.8px;
  box-shadow: 0px 4px 47px 0px;
}

.detail {
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
  color: #555;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
  color: #333;
}

.tags {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: #888;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
}

.footer {
  background-color: #262559;
  padding: 32px 0 32px;
  text-align: center;
  color: white;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.total-duration {
  display: flex;
  align-items: center;
  background-color: #E4E4E4;
  padding: 0 0.5rem 0 0;
}

.total-duration img {
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
}

.total-duration span {
  font-size: 1.25rem;
  font-family: OpenSans Regular;
  color: #1d0f67;
}

.duration-indicator {
  display: flex;
  align-items: center;
  text-align: right;
  background-color: #E4E4E4;
  min-width: 48px;
  padding: 0 0.5rem;
  height: 48px;
  box-sizing: border-box;
}

.duration-indicator span {
  font-size: 1.25rem;
  font-family: OpenSans Regular;
  color: #1d0f67;
}

.section {
  margin-bottom: 1.25rem;
  padding: 0.9375rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-size: 1.3rem;
  color: #333;
}

.sectionDetail {
  font-size: 15px;
  color: #1d0f67;
  margin: 1rem 5% 0;
  padding-bottom: 3px;
}

.ordergrade {
  padding: 0.625rem;
  font-family: 'OpenSans Light', sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 1.25rem;
  color: white;
}

.ordergrade-infanzia {
  background-color: #8cc63f;
}

.ordergrade-primaria {
  background-color: #f7931e;
}

.ordergrade-secondaria1 {
  background-color: #29abe2;
}

.ordergrade-secondaria2 {
  background-color: #ed1e79;
}

.topic-item {
  padding: 0.3125rem;
  background-color: transparent;
  border: 1px solid #2a255b;
  font-family: 'OpenSans Light', sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  margin: 0.3125rem 0 0 0.3125rem;
  color: #2a255b;
  font-size: 0.8rem;
  display: inline-block;
}

@media (max-width: 768px) {
  .container-colonne {
    flex-direction: column; /* Disporre i contenitori uno sotto l'altro */
  }

  .container-tendina,
  .container-svolgimento {
    max-width: 100%;
  }

  .container-svolgimento {
    margin-top: 1rem;
  }
}